/*Надо сделать адаптивную вёрстку на бутстрапе.

1) Сделать 2-х колоночную адаптивную вёрстку на бутстрапе.  В каждой колонке разместить миниатюру изображения (thumbnail), под ней подзаголовок, параграф с текстом и синенькую кнопку с текстом "read more".
2) Под 2-мя колонками разместить таблицу с 4-мя колонками, заголовки в каждой колонке должны быть синего цвета, потом 2 строки с временным текстом Lorem ipusm, потом строка с красными кнопочками и текстом "order now".*/
body {
    font-size: 10px;
}

thead td {
    color: blue;
    text-align: center;
}
tbody{
    font-size: 1.5rem;
}
button {
    text-transform: capitalize;
}

.thumbnail img{
    max-width: 20rem;
    height: auto;
}